.jobsPosted {
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.jobs {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 8px;
    border: 1px solid #bbb;
}

.job {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title h1 {
    font-size: 18px;
    color: #203647;
    font-weight: 700;
}

.title p {
    color: #555;
    margin-top: 3px;
    font-weight: 500;
    font-size: 13.5px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.postedOn p,
.applicants p {
    color: #555;
    font-size: 13.5px;
    font-weight: 500;
}

.postedOn h3,
.applicants h3 {
    margin-top: 3px;
    font-size: 15px;
    font-weight: 600;
}


.options {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.options .dotIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 4px 5px;
    color: #049ee6;
    border-radius: 4px;
    border: 1px solid #049ee6;
    background-color: rgba(4, 158, 230, 0.1);
}

.options .showOptions {
    position: absolute;
    top: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1px;
    z-index: 1;
    border-radius: 4px;
    background: #bbb;
    border: 1px solid #bbb;
}

.options .showOptions::before {
    content: "";
    position: absolute;
    top: -6.5px;
    width: 10px;
    height: 10px;
    background: #fff;
    transform: rotate(45deg);
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

.options .hideOptions {
    display: none;
}

.showOptions a,
.showOptions button {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    font-size: 13.5px;
    background: #fff;
    transition: 0.3s ease-in-out;
}

.showOptions a:hover,
.showOptions button:hover {
    cursor: pointer;
    color: #049ee6;
}

.view {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.delete {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

@media screen and (max-width: 569px) {
    .jobsPosted {
        margin: 20px 2px;
    }
    
    .jobs {
        padding: 20px 15px;
        justify-content: space-between;
        gap: 10px;
        border: none;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    }
    
    .job {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .title h1 {
        font-size: 14px;
        font-weight: 600;
    }
    
    .title p {
        margin-top: 2px;
        font-weight: 400;
        font-size: 11px;
    }
    
    .postedOn p,
    .applicants p {
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 0.2px;
    }
    
    .postedOn h3,
    .applicants h3 {
        margin-top: 2px;
        font-size: 12px;
        font-weight: 500;
    }
    
    .options .dotIcon {
        font-size: 15px;
        padding: 1px;
    }
    
    .options .showOptions {
        top: 30px;
        right: -6px;
        width: 70px;
        border-radius: 2.5px;
    }
    
    .options .showOptions::before {
        top: -5.6px;
        right: 9px;
        width: 8px;
        height: 8px;
    }
    
    .options .hideOptions {
        display: none;
    }
    
    .showOptions a,
    .showOptions button {
        padding: 6px 0;
        font-size: 11px;
    }
    
    .view {
        border-top-left-radius: 2.5px;
        border-top-right-radius: 2.5px;
    }
    
    .delete {
        border-bottom-left-radius: 2.5px;
        border-bottom-right-radius: 2.5px;
    }
}