.jobsPosted {
    margin: 60px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.noJobs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.noJobs p {
    font-size: 18px;
    color: #777;
}

.jobs {
    padding: 20px;
    border: 1px solid #bbb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title h1 {
    font-size: 20px;
    font-weight: 600;
    color: #203647;
}

.title p {
    width: max-content;
    margin-top: 10px;
    font-size: 14px;
    padding: 3px 13px;
    border: 1px solid #049ee6;
    border-radius: 3px;
    color: #049ee6;
    background-color: rgba(4, 158, 230,0.1);
}

.postedOn p,
.applicants p {
    font-size: 14px;
    color: #777;
}

.postedOn h3,
.applicants h3 {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.buttons a,
.buttons button {
    cursor: pointer;
    background-color: #fff;
    font-size: 22px;
    transition: 0.4s ease-in-out;
}

.buttons a:hover,
.buttons button:hover {
    color: #049ee6;
}

.buttons button:last-child:hover {
    color: red;
}