.container {
    width: 100%;
    margin: 40px 0;
}

.header {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px 60px;
    background-color: rgb(207, 227, 226);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content h1 {
    color: #203647;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 1px;
}

.content p{
    color: #555;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 24px;
}

.btn {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 100%;
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.boxContent {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tag {
    font-size: 14px;
    color: #555;
}

.boxContent h2 {
    color: #203647;
}

.boxContent h4 {
    font-weight: 400;
}

.point {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #203647;
    font-size: 16px;
    transition: 0.5s ease-in-out;   
}

.point:hover {
    cursor: pointer;
    transform: translateX(10px);
    color: #007cc7;
}

@media screen and (min-width: 570px) and (max-width: 770px) {
    .container {
        margin: 15px 0;
    }
    
    .header {
        margin-bottom: 30px;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 40px;
    }
    
    .content {
        gap: 20px;
    }
    
    .content h1 {
        font-size: 25px;
        font-weight: 700;
    }
    
    .content p{
        font-size: 14px;
        line-height: 22px;
    }
    
    .btn {
        margin-top: 15px;
        gap: 20px;
    }
    
    .imgBox {
        display: none;
    }
    
    .box {
        margin: 40px 0;
        gap: 30px;
    }
    
    .boxContent {
        padding: 20px 0;
        gap: 20px;
    }
    
    .tag {
        font-size: 13px;
    }
    
    .boxContent h2 {
        font-size: 17px;
    }
    
    .boxContent h4 {
        font-size: 14px;
    }
    
    .point {
        gap: 13px;
        font-size: 15px;  
    }
}

@media screen and (max-width: 569px) {
    .container {
        margin: 10px 0;
    }
    
    .header {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        padding: 30px;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .content h1 {
        font-size: 20px;
    }
    
    .content p{
        font-size: 13px;
        line-height: 20px;
    }
    
    .btn {
        margin-top: 10px;
    }

    .img {
        width: 250px !important;
        height: 180px !important;
    }
    
    .box {
        margin: 30px 0;
        flex-direction: column;
        gap: 20px;
    }
    
    .boxContent {
        border: 1px solid #888;
        padding: 20px;
        gap: 15px;
    }
    
    .tag {
        text-transform: capitalize;
        font-size: 13px;
    }
    
    .boxContent h2 {
        font-size: 15px;
    }
    
    .boxContent h4 {
        font-size: 12px;
        color: #888;
    }
    
    .point {
        font-size: 13px;
    }
}