.resumeContainer {
    padding: 50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.resume {
    width: 100%;
    padding: 30px;
    border: 1px solid #bbb;
    border-radius: 10px;
}

.resumeInfo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.resumeHeader {
    display: flex;
    align-items: center;
    gap: 20px;
}

.pdfIcon,
.dotIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #049ee6;
    background-color: rgba(4, 158, 230, 0.1);
}

.icon {
    font-size: 24px;
    color: #049ee6;
}

.title {
    font-size: 16px;
    font-weight: 400;
}

.date {
    margin-top: 4px;
    font-size: 14px;
    color: #888;
}

.resumeOptions {
    display: flex;
    align-items: flex-start;
    gap: 60px;
}

.setDefault {
    font-size: 13px;
    letter-spacing: 0.4px;
    font-weight: 500;
    padding: 5px 15px;
    color: #ffb103;
    border-radius: 20px;
    border: 1px solid rgba(241, 142, 6, 0.81);
    background-color: rgba(220, 128, 1, 0.16);
}

.options {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-right: 30px;
}

.dotIcon {
    width: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.showOptions {
    width: 100px;
    position: absolute;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #bbb;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: all 0.3s ease;
    background: #fff;
}

.hideOptions {
    display: none;
}

.view,
.delete,
.default {
    font-size: 13px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 10px 15px;
    border-bottom: 1px solid #bbb;
    transition: 0.4s ease-in-out;
    background-color: #fff;
}

.view {
    border-radius: 5px 5px 0 0;
}

.delete {
    border: none;
    border-radius: 0 0 5px 5px;
}

.view:hover,
.delete:hover,
.default:hover {
    background-color: #efefef;
}

@media screen and (max-width: 569px) {
    .resumeContainer {
        padding: 15px 0;
        gap: 20px;
    }
    
    .resume {
        padding: 10px;
        border-radius: 6px;
    }
    
    .resumeInfo {
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
    }
    
    .resumeHeader {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    .pdfIcon,
    .dotIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
    }
    
    .icon {
        font-size: 14px;
    }
    
    .title {
        font-size: 12px;
    }
    
    .date {
        margin-top: 2px;
        font-size: 10px;
    }
    
    .resumeOptions {
        width: 100%;
        display: flex;
        align-self: flex-end;
        align-items: center;
        gap: 20px;
    }
    
    .setDefault {
        font-size: 11px;
        letter-spacing: 0.3px;
        font-weight: 400;
        padding: 3px 8px;
    }
    
    .options {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-right: 30px;
    }
    
    .dotIcon {
        width: 25px;
    }
    
    .showOptions {
        width: 100px;
        position: absolute;
        top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 5px;
        border: 1px solid #bbb;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        transition: all 0.3s ease;
        background: #fff;
        z-index: 9999;
    }
    
    .hideOptions {
        display: none;
    }
    
    .view,
    .delete,
    .default {
        font-size: 13px;
        cursor: pointer;
        width: 100%;
        text-align: center;
        padding: 10px 15px;
        border-bottom: 1px solid #bbb;
        transition: 0.4s ease-in-out;
        background-color: #fff;
    }
    
    .view {
        border-radius: 5px 5px 0 0;
    }
    
    .delete {
        border: none;
        border-radius: 0 0 5px 5px;
    }
}