.dropdown_list {
    width: 100%;
    background: #fff;
    transform: translateX(-100%);
    will-change: transform;
}

.dropdown_list li {
    padding: 12px 25px;
    border-bottom: 1px solid #f1f1f1;
    transform-origin: -20px 50%;
    will-change: transform, opacity, filter;
}

.dropdown_list li a {
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px !important;
    letter-spacing: 0.4px;
}

.dropdown_list li a svg {
    color: #203647;
}