.jobs_container {
    margin: 50px 0;
    display: flex;
    gap: 40px;
}

.jobsContainer {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

.header p {
    font-size: 15px;
    color: #888;
}

.searchBox {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1px 10px 1px 1px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.searchBox input {
    width: 300px;
    padding: 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.icon {
    color: #888;
}

.jobs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.job {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    text-transform: capitalize;
    transition: 0.5s ease-in-out;
    border: 1px solid #bbb;
}

.job:hover {
    transform: translateY(-4px);
}

.job legend {
    text-align: right;
    border-radius: 10px;
    color: #007cc7;
    background-color: #f7f6f6;
    margin-right: 2rem;
    padding: 2px 15px;
    font-size: 14px;
}

.jobHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 0.1px solid #bbb;
}

.jobTitle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.suitcase {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 0.5px solid #cdcdcd;
    border-radius: 50%;
    background-color: #fff;
}

.suitcaseBag {
    font-size: 25px;
    font-weight: normal;
    color: #888;
}

.title h2 {
    font-size: 16px;
    font-weight: 600;
    color: #203647;
}

.company {
    display: flex;
    align-items: center;
}

.company p {
    font-size: 14px;
    font-weight: 400;
    color: #707f8c;
    margin-top: 2px;
}

.jobType {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.type {
    font-size: 13px;
    font-weight: 500;
    padding: 3px 13px;
    border-radius: 3px;
    color: #049ee6;
    background-color: rgba(4, 158, 230, 0.1);
}

.posted {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.clock {
    font-size: 12px;
    color: #777;
}

.posted p {
    text-transform: initial;
    font-size: 12px;
    font-weight: 400;
    color: #777;
}

.jobBody {
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.gridColumn {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 25px;
}

.column {
    display: flex;
    align-items: center;
    gap: 8px;
}

.column h4 {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13.5px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #707f8c;
}

.experience,
.money {
    font-size: 15px;
}

.column p {
    border-radius: 5px;
    font-size: 13.5px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #5a6773;
}

.skills {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}


.skills p {
    font-size: 13.5px;
    font-weight: 400;
    letter-spacing: 0.6px;
    color: #707f8c;
}

.skills span {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.6px;
    padding: 3px 8px;
    padding-right: 10px;
    color: #049ee6;
    background-color: rgba(4, 158, 230, 0.1);
    clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
    border-radius: 2px 0 0 2px;
}

.dot {
    margin-right: -5px;
    margin-left: 3px;
    text-align: center;
    font-size: 8px;
}

.buttons {
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13.5px;
    font-weight: 400;
    color: #707f8c;
}

.btns {
    display: flex;
    align-items: center;

    gap: 15px;
}

.options {
    display: flex;
    align-items: center;
    gap: 15px;
}

.save,
.share {
    font-size: 18px;
    color: #5a6773;
    transition: 0.5s ease-in-out;
}

.save:hover,
.share:hover {
    transform: translateY(2px);
    cursor: pointer;
    color: initial;
}

.btn {
    padding: 6px 14px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    background-color: #fff;
    color: #203647;
    border: 1px solid #203647;
    border-radius: 0;
    transition: 0.6s ease-in-out;
}

.btn:hover {
    background-color: #203647;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

@media screen and (max-width: 569px) {
    .jobs_container {
        margin: 10px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .jobsContainer {
        width: 100%;
    }

    .header {
        margin: 20px 0;
        align-items: flex-start;
        flex-direction: column-reverse;
        gap: 15px;
    }

    .header p {
        font-size: 12px;
        color: #888;
    }

    .search {
        width: 100%;
    }

    .searchBox input {
        width: 100%;
        padding: 6px 10px;
        font-size: 12px;
    }

    .jobs {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .job {
        width: 100%;
        padding: 15px;
        border-radius: 6px;
    }

    .job legend {
        font-size: 11.5px;
        margin-right: 1.4rem
    }

    .jobHeader {
        padding-bottom: 14px;
    }

    .jobTitle {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .suitcase {
        padding: 0;
        border: none;
    }

    .title h2 {
        font-size: 13px;
        font-weight: 500;
    }

    .company p {
        font-size: 12px;
        color: #049ee6;
    }

    .jobType {
        gap: 8px;
    }

    .type {
        font-size: 11px;
        font-weight: 400;
        padding: 3px 6px;
        border-radius: 2px;
    }

    .posted {
        gap: 4px;
    }

    .clock {
        font-size: 10.5px;
    }

    .posted p {
        font-size: 10px;
    }

    .jobBody {
        margin-top: 15px;
        gap: 14px;
    }

    .gridColumn {
        gap: 15px;
    }

    .column {
        align-items: flex-start;
        flex-direction: column;
        gap: 4px;
    }

    .column h4 {
        gap: 8px;
        font-size: 11px;
        font-weight: 400;
    }

    .experience,
    .money {
        font-size: 12px;
    }

    .column p {
        font-size: 12px;
        font-weight: 400;
        color: #203647;
    }

    .skills {
        gap: 8px;
    }


    .skills p {
        font-size: 11px;
    }

    .skills span {
        font-size: 11px;
        letter-spacing: 0.5px;
        padding: 2px 5px;
        padding-right: 10px;
    }

    .buttons {
        margin-top: 12px;
    }

    .buttons p {
        gap: 4px;
        font-size: 10.5px;
        letter-spacing: 0.4px;
    }

    .btns {
        gap: 12px;
    }

    .options {
        gap: 8px;
    }

    .save,
    .share {
        font-size: 14px;
    }

    .btn {
        padding: 3px 8px;
        font-size: 12px;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        border-radius: 0;
    }
}