.container {
    margin: 50px 0;
}

.profileContainer {
    width: 100%;
    padding: 30px;
    border: 1px solid #bbb;
    border-radius: 10px;
}

.profileHeader {
    display: flex;
}

.profileImage {
    width: 120px;
    height: 140px;
    border: 1px solid #bbb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilePic {
    object-fit: cover;
    border: 1px solid #bbb;
    border-radius: 10px;
}

.user {
    font-size: 80px;
    color: #bbb;
}

.profileInfo {
    width: 100%;
    margin-top: 30px;
}

.profileInfo h1 {
    margin-left: 50px;
    font-size: 25px;
    color: #203647;
}

.profileInfo p {
    font-size: 15px;
    font-weight: 500;
    color: #049ee6;
    padding: 20px 50px;
    padding-top: 5px;
    border-bottom: 1px solid #bbb;
}

.profileBody {
    margin-top: 50px;
}

.profileContent {
    margin: 20px 0;
}

.profileNav {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #bbb;
}

.links {
    font-size: 17px;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 5px 5px 0 0;
    border: 1px solid transparent;
    border-bottom: none;
    transition: all 0.4s ease;
}

.links:hover {
    border: 1px solid #049ee6;
    border-bottom: none;
    color: #049ee6;
    background-color: rgba(4, 158, 230,0.1);
}

.active {
    font-size: 17px;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #049ee6;
    border-bottom: none;
    color: #049ee6;
    background-color: rgba(4, 158, 230,0.1);
}

@media screen and (max-width: 569px) {
    .container {
        margin: 10px 0;
    }
    
    .profileContainer {
        padding: 0;
        border: none;
        border-radius: 0;
    }
    
    .profileHeader {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        border: 1px solid #bbb;
        border-radius: 8px;
    }
    
    .profileImage {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
    
    .profilePic {
        width: 45px !important;
        height: 45px !important;
        border-radius: 50%;
    }
    
    .user {
        font-size: 50px;
    }
    
    .profileInfo {
        margin-top: 0;
    }
    
    .profileInfo h1 {
        margin-left: 0;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.1px;
    }
    
    .profileInfo p {
        font-size: 12px;
        font-weight: 400;
        padding: 0;
        padding-top: 2px;
        border-bottom: none;
    }
    
    .profileBody {
        margin-top: 30px;
    }
    
    .profileContent {
        margin: 20px 0;
    }
    
    .profileNav {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        border-bottom: none;
    }
    
    .links {
        font-size: 13px;
        font-weight: 400;
        padding: 5px 8px;
        border-radius: 0;
        border: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
    }
    
    .links:hover {
        border-bottom: 1px solid #049ee6;
    }
    
    .active {
        font-size: 13px;
        font-weight: 500;
        padding: 5px 8px;
        border-radius: 0;
        border: 1px solid #049ee6;
        border-bottom: 1px solid #049ee6;
    }
}