.profile_container {
    width: 100%;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.emailLocation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    font-size: 15px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 0.3rem;
}

.content p {
    color: #666;
}

.content h4 {
    font-weight: 500;
    color: #203647;
}

.skills_container {
    padding: 15px 0;
    border-radius: 0.3rem;
}

.skills {
    font-size: 15px;
    display: flex;
    gap: 15px;
}

.skills .heading {
    padding: 6px 0;
    color: #666;
    font-weight: 500;
}

.skill {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.skill p {
    padding: 6px 15px;
    border: 1.5px solid #b8b8b8;
    border-radius: 20px;
}

.about_container {
    font-size: 15px;
    padding: 15px 0;
}

.about_container span {
    color: #666;
    font-weight: 500;
}

.about_container .about {
    padding: 15px 0;
    line-height: 1.6;
    letter-spacing: 0.3px;
    border-radius: 0.3rem;
    white-space: pre-wrap;
}

.buttons {
    display: flex;
    align-self: flex-end;
    align-items: center;
    gap: 25px;
}

@media screen and (max-width: 569px) {
    .profile_container {
        padding: 0;
        gap: 1.5px;
        border-radius: 8px;
        background-color: #f1f1f1;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    }

    .emailLocation {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 12px;
        background-color: #fff;
        padding: 20px;
    }

    .content {
        font-size: 13px;
        padding: 0;
        gap: 8px;
    }

    .skills_container {
        padding: 20px 20px 25px;
        background-color: #fff;
        border-radius: 0;
    }

    .skills {
        font-size: 13px;
        display: flex;
        flex-direction: column;
    }

    .skills .heading {
        padding: 3px 0;
    }

    .skill {
        gap: 10px;
    }

    .skill p {
        padding: 6px 12px;
        border: 1px solid #b8b8b8;
    }

    .about_container {
        font-size: 13px;
        padding: 20px;
        background-color: #fff;
    }

    .about_container .about {
        padding: 10px 0;
    }

    .buttons {
        width: 100%;
        margin-top: -2px;
        padding: 20px;
        background-color: #fff;
        gap: 20px;
    }
}