.user {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.15s ease;
}

.user .img_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userImg {
    border: 2px solid #bbb;
    border-radius: 50%;
    object-fit: cover;
    background-color: #203647;
}

.faUser {
    font-size: 35px;
    color: #203647;
} 

.user ul {
    width: 120px;
    position: absolute;
    top: 50px;
    border-radius: 8px;
    border: 0.5px solid #2036473d;
    color: #203647;
    background-color: #fff;
    overflow: hidden;
}

.user ul li {
    font-size: 15px;
    list-style: none;
    padding: 10px;
    transform-origin: -20px 50%;
    background-color: #fff;
}

.user ul li:hover {
    background-color: #fafafa;
}

.user ul li:nth-of-type(1) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.user ul li:nth-last-of-type(1) {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media screen and (max-width: 569px) {
    .user {
        display: none;
    }
}