.filter_container {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filters {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.filter,
.filterBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    border-radius: 8px;
    border: 1px solid #bbb;
    background-color: #fefefe;
}

.filterBox {
    gap: 0;
    padding-bottom: 0;
}

.filter h4 {
    font-size: 16px;
    font-weight: 600;
    color: #203647;
}

.filter select {
    width: 100%;
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 4px;
    font-size: 15px;
}

.filterHeading {
    margin-bottom: 20px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 5px;
}

.icon {
    margin-top: 1px;
    font-size: 19px;
    color: #203647;
    transition: 0.5s ease-in-out;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.checkBoxFilter,
.hide {
    max-height: 360px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
}

.hide {
    max-height: 0;
}

.checkBox {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    transition: 0.5 ease-in-out;
}

.lastCheckBox {
    padding-bottom: 20px;
}

.clearButton {
    align-self: flex-end;
    margin: 15px;
}

.clearButton button {
    cursor: pointer;
    font-size: 15px;
    background: transparent;
}

@media screen and (max-width: 569px) {
    .filter_container {
        width: 100%;
        gap: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    }
    
    .filters {
        width: 100%;
        gap: 1.5px;
    }
    
    .filter,
    .filterBox {
        gap: 14px;
        padding: 15px;
        border: none;
        border-radius: 0;
    }

    .filterBox:nth-of-type(2) {
        padding-bottom: 5px;
    }

    .filterBox:nth-of-type(3) {
        padding-bottom: 5px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .responsiveFilter {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 18px 15px;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .filterBox {
        gap: 0;
        padding-bottom: 0;
    }

    .responsiveFilter form {
        width: 50%;
    }

    .filter h4 {
        font-size: 12px;
        font-weight: 500;
    }

    .filter select {
        padding: 6px;
        font-size: 12px;
    }

    .filterHeading {
        margin-bottom: 10px;
    }

    .icon {
        margin-top: 0;
        font-size: 14px;
    }

    .checkBoxFilter,
    .hide {
        gap: 13px;
    }

    .hide {
        max-height: 0;
    }

    .checkBox {
        font-size: 12px;
    }

    .lastCheckBox {
        padding-bottom: 15px;
    }

    .clearButton {
        display: none;
    }
}